<body style="background-color:black; color: darkseagreen">
<h1>About</h1>
<h4>This app is used for practice purposes when a musician can't figure out which scale to practice.</h4>
<h4>When the page is loaded it gives the user what key to play in and what sonority the scale should be.</h4>
    <h4>The user can refresh the page by hitting "Press here for new scale!" or hitting the "Home" button.</h4>
<h4>This app was developed by Jonathan Daugherty in July of 2021.</h4>
</body>
