<body style="background-color:black; color: darkseagreen">
<h1>About</h1>
<h4>This app is used for practice purposes when a musician can't figure out which scale to practice.</h4>
<h4>When the first button is pressed, a note will appear which will serve as your tonic or first scale degree</h4>    
<h4>When the second button is pressed, the user will be provided which scale to play(whether it be Major, Natural Minor, Harmonic Minor, or Melodic Minor).</h4>
<h4>This app was developed by Jonathan Daugherty in July of 2021.</h4>
</body>
