<body style="background-color:black; color:darkseagreen">
<h1>Jonathan Daugherty's Contact Info</h1>
    <address>
        870 Franklin Rd<br />
        Lebanon, OH 45036<br />
        <abbr title="Phone">Phone:</abbr>
        765.617.0266<br />
        <abbr title="Email">Email:</abbr>
        jmdaugherty94@gmail.com
    </address>

    <address>
        <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/jonathan-daugherty/">LinkedIn</a><br />
        <strong>Github:</strong> <a href="https://github.com/JonathanDaugherty">Github</a>
    </address>
</body>

