<body style="background-color:black; color:darkseagreen">
<h1>Scale Selector App</h1>

    <div>
        <input type="button"
               value="What Key?"
               onclick="RandomKey()" />
    </div>
</body>